// Variable
$r_easyBannerbg-color-1: #e4d8bd;
$r_easyBannerText-color-1: #272727;
$r_easyBannerText-color-2: #e11c3e;
$r_easyBannerButton-color-1: #fa5052;
$r_easyBannerFont-Thin:100;
$r_easyBannerFont-ExtraLight:200;
$r_easyBannerFont-Light:300;
$r_easyBannerFont-Regular:400;
$r_easyBannerFont-Medium:500;
$r_easyBannerFont-SemiBold:600;
$r_easyBannerFont-Bold:700;
$r_easyBannerFont-ExtraBold:800;
$r_easyBannerFont-Black:900;